//Default Colors
$c-wh: #fff;
$c-bl: #000;
$c-gr: #e3e3e3;
$c-gr-dk: #7a7a7a;

// fonts
$f-ppal-r: 'FSJoeyRegular';
$f-ppal-m: 'FSJoeyMedium';
$f-ppal-b: 'FSJoeyBold';
$f-second: 'Barlow';

//Colors
$c-blue: #2e3673;
$c-yellow: #fbd800;
$c-grey: #8a8e92;
$c-g2: #e9ecf3;
$c-red: #ee0000;