@import "../../assets/scss/variables";

.container__form {
  margin-top: 60px;
  border: 1px solid $c-gr-dk;
  border-radius: 5px;
  box-sizing: content-box;
  .container__title {
    padding: 10px 20px;
    background-color: #e5e5e5;
    h2 {
      font-size: 18px;
      margin: 0;
    }
  }
  .content__form {
    width: 100%;
    padding: 20px 40px 0px;
    > form {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      > div {
        &:nth-child(1n + 1) {
          margin-right: 20px;
        }
      }
      > button {
        width: 100px;
        height: 38px;
      }
    }
  }
}